"dash.pluralkit.me" {
	reverse_proxy http://10.0.1.2:8088
}

"api.pluralkit.me" {
	reverse_proxy http://10.0.1.2:5000 {
		header_up X-Real-IP {remote_host}
	}
}

"stats.pluralkit.me" {
	reverse_proxy http://10.0.1.2:3000
}

"sentry.pluralkit.me" {
	reverse_proxy http://10.0.1.2:9000 {
		header_up -Connection
	}
}

"plausible.pluralkit.me" {
	reverse_proxy http://10.0.1.2:8000
}

"pk-webs.spectralitree.com" {
	redir https://dash.pluralkit.me{uri} permanent
}

"pk-webs-beta.spectralitree.com" {
	redir https://dash.pluralkit.me{uri} permanent
}
