:80 {
	file_server / {
		root /etc/caddy/
		index anycast.html
	}
}

pk.mt:80 {
	handle / {
		redir https://pluralkit.me
	}
	handle /s/* {
		redir https://dash.pluralkit.me/profile{uri}
	}
	handle /m/* {
		redir https://dash.pluralkit.me/profile{uri}
	}
	handle /g/* {
		redir https://dash.pluralkit.me/profile{uri}
	}
}

(require_iad) {
	@checkRegion expression {env.FLY_REGION} != "iad"

    handle @checkRegion {
        header fly-replay "region=iad"
        respond 200
    }
}

# main

pluralkit.me:80 {
	reverse_proxy /* {
		to http://pluralkit-docs.flycast
	}
}

www.pluralkit.me:80, beta.pluralkit.me:80 {
	redir https://pluralkit.me{uri}
}

api.pluralkit.me:80 {
	reverse_proxy /* {
		to http://pluralkit-api.svc.fks-default-5rxvlvnrdx8mnqwj.flycast:5000
		header_up X-PluralKit-Client-IP {http.request.header.Fly-Client-Ip}
		header_up -x-pluralkit-systemid
	}
}

dash.pluralkit.me:80 {
	reverse_proxy /* {
			to http://pluralkit-dashboard.flycast
	}
}

# beta

api.beta.pluralkit.me:80 {
    reverse_proxy /* {
        to http://pluralkit-api.beta.svc.sjc.k8s.pluralkit.net
        header_up X-PluralKit-Client-IP {remote_host}
    }
}

dash.beta.pluralkit.me:80 {
    reverse_proxy /* {
        to http://pluralkit-dashboard.beta.svc.sjc.k8s.pluralkit.net
    }
}

beta.dash.pluralkit.me:80 {
	redir https://dash.beta.pluralkit.me
}

# cdn

cdn.pluralkit.me:80 {
	log

	import require_iad

	handle / {
		file_server {
			root /etc/caddy/
			index cdn-index.html
		}
	}
	handle /images/* {
		reverse_proxy {
			to https://r2-avatars.pluralkit.net
			header_up Host r2-avatars.pluralkit.net
			header_up -sec*

			transport http {
				versions 1.1
			}

			@notfound status 404
			handle_response @notfound {
				respond "404 not found" 404
			}

			@error status 500 502 503
			handle_response @error {
				respond "failed to connect to image backend" 500
			}
		}
	}
}

# misc

stats.pluralkit.me:80 {
	file_server / {
		root /etc/caddy/
		index stats.html
	}
}

status.pluralkit.me:80 {
	reverse_proxy /* {
		to http://100.79.33.60:5080
	}
}

gt.pluralkit.me:80 {
	reverse_proxy /* {
		to http://100.79.33.60:8000
		header_up Host gt.pluralkit.me
	}
}

grafana.pluralkit.me:80 {
	reverse_proxy /* {
		to http://100.79.33.60:3000
		header_down -X-Frame-Options
		header_down +Content-Security-Policy "frame-ancestors stats.pluralkit.me"
	}
}
